.html {
background-color: black;
}

.body {
background-color: black;
}

.button {
  background-color: darkorange;
  color: white;
}

h1 {
  background-color: black;
  color: white;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  padding: 100px 0;
}

h2 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Work Sans', sans-serif;
}

h3 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Work Sans', sans-serif;
}

h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Work Sans', sans-serif;
  color: white;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
}

a {
  background-color: lightgray;
  color: black;
  cursor: pointer;
  float: center;
  position: static;
}

title {
  font-size: 50px;
  display: flex;
  justify-content: center;
}

footer {
  padding: 100px 0;
  background-image: url("images/bkg-productfacts-liquid.png");
  background-size: contain;
  background-repeat: repeat-x;
  text-align: center;
}

nav {
  padding: 100px 0;
  background-color: lightgray;
  text-align: center;
  color: black;
  font-size: 30px;
}

.product {
  text-align: center;
  margin-top: 50px; 
  width: 28%;
  display: inline-block; 
  margin: 2%;
}

.product img {
  width: 100%;
  height: auto;
}

