.html {
  background-color: white;
  }

  .body {
    background-color: white;
    margin: 0;
    }

    .button {
      background-color: white;
      color: blue;
    }

    img {
      overflow: clip;
  }